# Ignore data folder and temporary system files
data/
.venv/
Python/helloworld.py

# ------------------------
# DATA FILES
# ------------------------
*.csv
*.tsv
*.parquet
*.duckdb
*.db
*.sqlite
*.log


# macOS and system clutter
.DS_Store
Thumbs.db

# Python cache and notebook temp files
__pycache__/
.ipynb_checkpoints/

# IDE / editor settings
.vscode/
.idea/
SQL/forecast_accuracy.duckdb
forecast_accuracy.duckdb
SQL/L0_forecast_accuracy.duckdb
SQL/L1_forecast_accuracy.duckdb
SQL/L1_forecast_accuracy.duckdb.wal
SQL/L2_forecast_accuracy.duckdb

uncommitted/
Forecast-Accuracy-Analysis.code-workspace
